<ion-slides class="list-panel-slider" pager="true" [options]="sliderOptions">
  <ion-slide class="list-panel-slide">
    <div class="list-panel list-panel--create">
      <ion-button (click)="presentCreateList()">Create</ion-button>
    </div>
  </ion-slide>
  <ion-slide
    class="list-panel-slide"
    *ngFor="let list of lists"
    [@fadeIn]="enableAnimation"
    (@fadeIn.done)="onAnimationEvent($event)"
  >
    <div class="list-panel list-panel--2">
      <p>{{ list.title }}</p>
      <!-- <p class="list-panel__count">3</p>
      <p class="list-panel__detail">
        <span class="list-panel__detail-value">3</span>/<span class="list-panel__detail-value"
          >4</span
        >
        completed
      </p> -->
    </div>
  </ion-slide>
</ion-slides>
