<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input inputMode="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Colour</ion-label>
      <ion-input inputMode="text" formControlName="colour"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" expand="block"> Create </ion-button>
    </ion-item>
  </ion-list>
</form>
