ion-content {
  --backdrop-background: #000000;
  --backdrop-background-pseudo: var(--backdrop-background);
  --ion-background-color: var(--backdrop-background);

  &::-webkit-scrollbar {
    display: none;
  }
}

.backdrop {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 50vh;
  padding-bottom: 16px;
  background-color: var(--backdrop-background);

  &:after {
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    width: 100%;
    height: calc(50vh - 40px);
    content: '';
    background-color: var(--backdrop-background-pseudo);
  }
}

.content {
  margin-bottom: auto;
  padding: 13vh 16px 0 16px;
}
.title {
  font-size: 34px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  text-align: start;
  color: #a4a5a6;
}

.subtitle {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  text-align: start;
  color: #494a4e;
}

.main {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  min-height: 50vh;
  max-height: calc(100vh - 60px);
  margin-top: 50vh;
  padding: 10vh 16px;
  border-top-left-radius: 38.5px;
  border-top-right-radius: 38.5px;
  background-color: #ffffff;
}
